<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a Machine Learning Engineer at Informed Inc. I work on  
    </p>

    <p>
      I am a Machine Learning Engineer at Informed Inc. 
    </p>

    <p>
      I was a <strong>software developer at Cisco</strong> for 3.5 years. I worked on developing 
      software stacks for their router/switches. I was involved in software architecture design, implementation 
      and testing of features curretly deployed in their customer's networks.
    </p>
    
    <p>
      During my free time I am either working on a pet project, doing an online course,
      playing guitar or reading a book.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
